
<div class="profile-container">
    <div class="profile-image"></div>
    <div class="text-container">
        <h1>Juan Manuel Cerdeira</h1>
        <h2>Full Stack Developer Junior</h2>
    </div>
    <div class="description">
        <h2>Acerca de mí</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, ipsam quidem. Temporibus dignissimos adipisci facilis placeat rerum illo quibusdam, commodi, dolorem, error aspernatur hic dolorum dolores nam earum necessitatibus nulla!</p>
    </div>
</div>